@use '../utilities/variable' as variable;
@use '../utilities/mixins' as mix;
@use '../layout/chatlist';
@use '../layout/chatlistmenu';
@use '../layout/openwindow';

.leftside {
  position: relative;
  height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-rows: auto;
}

.rightside {
  position: relative;
  max-height: 100vh;
  max-width: 100%;
  background-color: variable.$color6;
}

.navbar-brand {
  font-size: 29px;
}

nav {
  img {
    @include mix.img(22px, 22px);
  }
}

.search-form {
  width: 100%;

  .input-prepend {
    border: none;
    background-color: variable.$color6;
  }

  #search-message {
    border: none;
    background-color: variable.$color6;
  }
}

.input-prepend {
  border: 2px solid variable.$color3;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: transparent;
}

#search-message {
  border-left: none;
  width: 80%;
  height: 60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  &:focus {
    outline: none;
  }
}

.sorting-list {
  width: 100%;
  max-height: 50px;
  overflow-x: scroll;
}

.sort-item {
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.active {
  background-color: variable.$color1;
  border-radius: 20px !important;
  color: variable.$color2;
}

.chatlist {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.empty-chat {
  font-size: 24px;
}

.chat-message {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
}

.message-header {
  width: 100%;

  .name-partner {
    color: #232323;
    font-size: 18px;
    font-weight: 500;
  }
}

.message {
  width: 100%;
  max-height: 80vh;

  .message-block-left {
    max-width: 420px;
    background-color: variable.$color1;
    color: variable.$color2;
    border-radius: 35px 35px 35px 10px;
  }

  .message-block-right {
    max-width: 420px;
    background-color: variable.$color2;
    color: variable.$color3;
    border-radius: 35px 10px 35px 35px;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.form-message {
  width: 100%;
  background-color: variable.$color2;

  .input-message {
    max-width: 100%;
    height: 40px;
    border-radius: 30px;
    border-right: none;
  }

  .input-group-text-custom {
    height: 40px;
    background-color: transparent;
    border-left: none;
    border-radius: 30px;
  }
}

.message-menu {
  top: 64px;
  right: 20px;
}

.mobile-bg {
  background-color: variable.$color6;
}

.message-mobile {
  max-height: 100vh;
  margin-top: 100px;

  .sender-img {
    @include mix.img(32px, 32px);
  }

  .message-img {
    max-width: 250px;
    max-height: 250px;
  }

  .message-block-left {
    max-width: 300px;
    background-color: variable.$color1;
    color: variable.$color2;
    border-radius: 35px 35px 35px 10px;
  }

  .message-block-right {
    max-width: 300px;
    background-color: variable.$color2;
    color: variable.$color3;
    border-radius: 35px 10px 35px 35px;
  }
}

.message-header-mobile {
  position: fixed;
  top: 0;
  z-index: 123;
}

.form-message-mobile {
  position: fixed;
  bottom: 0;
  z-index: 123;
}

.message-menu-mobile {
  position: fixed;
  top: 80px;
  right: 60px;
}

.message-file {
  position: fixed;
  bottom: 80px;
  right: 140px;
  background-color: variable.$color1;
  width: 200px;
  min-height: 200px;
  border-radius: 35px 35px 10px 35px;
}

.message-file-sm {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  z-index: 123;
  background-color: variable.$color2;

  p {
    color: variable.$color1;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1499.98px) {
  #search-message {
    width: 70%;
  }
}

@media only screen and (max-width: 1399.98px) {
  #search-message {
    width: 80%;
    border-left: 2px solid variable.$color3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
  }

  .input-prepend {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 457px) {
  nav {
    img {
      @include mix.img(18px, 18px);
    }
  }

  .form-custom {
    width: 75vw;
  }

  .btn {
    width: 75vw;
  }

  .nav-brand-mobile {
    font-size: 18px;
  }

  .nav-icon-mobile {
    img {
      width: 18px;
    }
  }

  .nav-custom-mobile {
    width: 50%;

    img {
      width: 16px;
      height: 16px;
    }
  }

  .message-menu-mobile {
    position: fixed;
    top: 80px;
    right: 20px;
  }
}
