$color1: #2675ec;
$color2: #ffffff;
$color3: #131313;
$color4: #848484;
$color5: #fafafa;
$color6: #f6f6f6;
$color7: #40d81a;
$color8: #ff0000;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

.text-primary {
  color: $color3;
}

.text-secondary {
  color: $color4;
}

.text-blue {
  color: $color1;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

body {
  background-color: #e5e5e5;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.container-custom {
  width: 100vw;
}

.splash-bg {
  background-color: $color1;
  width: 100vw;
  height: 100vh;
}

.splash-logo {
  width: 150px;
  height: 150px;
}

.card-custom {
  border-radius: 30px;
  border: none;
  width: 500px;
  min-height: 710px;
  color: #232323;
}

.form-header {
  color: $color1;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.back-button {
  width: 7.5px;
  height: 15px;
}

.form-label {
  font-size: 14px;
}

.form-custom {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $color3;
  transition: 0.3s;

  &:focus {
    outline: 0;
    box-shadow: none;
    border-color: none;
  }
}

#hidden-password {
  margin-top: -30px;

  &:hover {
    cursor: pointer;
  }
}

.mb-35 {
  margin-bottom: 35px;
}

.mt-42 {
  margin-top: 42px;
}

.hr-custom {
  width: 360px;
  line-height: 5px;

  span {
    width: 25%;
    height: 0px;
    border: 1px solid $color4;
  }
}

.btn {
  width: 360px;
  height: 60px;
  border-radius: 70px;
}

.btn-custom-primary {
  background-color: $color1;
  color: $color2;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.3s;

  &:hover {
    background-color: $color2;
    border: 1px solid $color1;
    color: $color1;
  }
}

.btn-custom-secondary {
  background-color: $color2;
  border: 1px solid $color1;
  color: $color1;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.3s;

  &:hover {
    background-color: $color1;
    color: $color2;
  }
}

.leftside {
  position: relative;
  height: 100vh;
  max-width: 100%;
}

.rightside {
  position: relative;
  max-height: 100vh;
  max-width: 100%;
  background-color: $color6;
}

.navbar-brand {
  font-size: 29px;
}

.search-form {
  width: 100%;
}

.input-prepend {
  border: 2px solid $color3;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: transparent;
}

#search-message {
  border-left: none;
  width: 80%;
  height: 60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  &:focus {
    outline: none;
  }
}

.sort-item {
  border: none;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

.active {
  background-color: $color1;
  border-radius: 20px !important;
  color: $color2;
}

.chat-list {
  width: 100%;

  .status {
    position: relative;
    bottom: -30px;
    left: -20px;
    margin-right: -25px;
  }

  .chat-info {
    .name {
      font-weight: 500;
      font-size: 18px;
      color: $color3;
    }

    .time {
      font-size: 14px;
      color: $color4;
    }

    .text {
      font-size: 14px;
      color: $color1;
    }

    .unread {
      display: block;
      width: 40px;
      height: 20px;
      line-height: 20px;
      border-radius: 30px;
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: $color1;
      color: $color2;
    }
  }
}

.empty-chat {
  font-size: 24px;
}

.open-window {
  background-color: $color1;
  position: absolute;
  width: 60%;
  height: 50px;
  left: 0;
  top: 12px;
  border-radius: 30px;

  img {
    width: 30px;
    height: 30px;
  }
}

.chat-message {
  width: 100%;
  display: grid;
  grid-template-rows: 12vh 78vh 10vh;
}

.message-header {
  width: 100%;

  .name-partner {
    color: #232323;
    font-size: 18px;
    font-weight: 500;
  }
}

.message {
  width: 100%;
  max-height: 80vh;

  .message-block-left {
    max-width: 420px;
    background-color: $color1;
    color: $color2;
    border-radius: 35px 35px 35px 10px;
  }

  .message-block-right {
    max-width: 420px;
    background-color: $color2;
    color: $color3;
    border-radius: 35px 10px 35px 35px;
  }
}

.form-message {
  width: 103%;
  margin-left: -20px;
  background-color: $color2;

  .input-message {
    max-width: 100%;
    height: 40px;
    border-radius: 30px;
    border-right: none;
  }

  .input-group-text-custom {
    height: 40px;
    background-color: transparent;
    border-left: none;
    border-radius: 30px;
  }
}

.menu {
  position: absolute;
  z-index: 999;
  top: 100px;
  right: 45px;
  width: 260px;
  background-color: $color1;
  border-radius: 35px 10px 35px 35px;

  .menu-list {
    color: $color2;
    font-size: 16px;
  }
}

.message-menu {
  top: 64px;
  right: 70px;
}

.mobile-bg {
  background-color: $color6;
}

.message-mobile {
  max-height: 100vh;
  margin-top: 100px;
}

.message-header-mobile {
  position: fixed;
  top: 0;
  z-index: 123;
}

.form-message-mobile {
  position: fixed;
  bottom: 0;
  z-index: 123;
}

.message-menu-mobile {
  position: fixed;
  top: 80px;
  right: 10px;
}

@media only screen and (min-height: 768px) {
  .container-custom {
    height: 100vh;
  }
}

@media only screen and (max-height: 768px) {
  .container-custom {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 1499.98px) {
  #search-message {
    width: 70%;
  }

  .open-window {
    background-color: $color1;
    width: 50%;
    height: 40px;
    left: 0;
    top: 12px;
    border-radius: 30px;

    img {
      width: 22px;
      height: 22px;
    }
  }
}

@media only screen and (max-width: 1399.98px) {
  #search-message {
    width: 80%;
    border-left: 2px solid $color3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
  }

  .input-prepend {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: $color2;
  }

  .card-custom {
    border-radius: 0;
    width: 100vw;
    color: #232323;
  }
}

@media only screen and (max-width: 457px) {
  .card-custom {
    margin-top: 42px;
    border-radius: 0;
    width: 100vw;
    color: #232323;
  }

  .hr-custom {
    width: 75vw;
  }

  .form-custom {
    width: 75vw;
  }

  .btn {
    width: 75vw;
  }

  .chat-list {
    .status {
      position: relative;
      bottom: -20px;
      left: -20px;
      margin-right: -25px;
    }

    .photo {
      width: 50px;
      height: 50px;
    }

    .chat-info {
      .name {
        font-weight: 500;
        font-size: 16px;
        color: $color3;
      }

      .time {
        font-size: 12px;
        color: $color4;
      }

      .text {
        font-size: 12px;
        color: $color1;
      }
    }
  }

  .nav-brand-mobile {
    font-size: 18px;
  }

  .nav-icon-mobile {
    img {
      width: 18px;
    }
  }

  .nav-custom-mobile {
    width: 50%;

    img {
      width: 16px;
      height: 16px;
    }
  }

  .open-window {
    background-color: $color1;
    width: 50%;
    height: 40px;
    left: 0;
    top: 12px;
    border-radius: 30px;

    img {
      width: 18px;
      height: 18px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .chat-list {
    .status {
      position: relative;
      bottom: -20px;
      left: -20px;
      margin-right: -25px;
    }

    .photo {
      width: 64px;
      height: 64px;
    }

    .chat-info {
      .name {
        font-weight: 500;
        font-size: 16px;
        color: $color3;
      }

      .time {
        font-size: 12px;
        color: $color4;
      }

      .text {
        font-size: 12px;
        color: $color1;
      }
    }
  }
}
